.container{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .totalUsers{
    width: 28px;
    height: 18px;
    margin-right: auto;
    margin-left: 13px;
    background-color: #616F82;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .select{
    margin-left: auto;
    margin-right: 10px;
    opacity: 50%;
    font-size: 14px;
  }
}
